<footer>
	<div class="top-footer">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<div class="footertitle">Keep your customers... by keeping them happy!</div>
					<div class="subtitle">Optimized Device and Home Management Solutions</div>
				</div>
			</div>
		</div>
	</div>
	<div class="middle-footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg6">
					<div class="footer-title">
						The Challenge of Carriers & xSPs
					</div>
					<div class="sub-text">
						Carrier and xSPs are facing the challenge of reducing their costs & increasing thier ARPU, while providing data, voice and video services to non-technical users. Additionally, they need to monitor and improve QoS. Friendly offers a fully featured TR-69 and OMA-DM solution for Carriers/xSPs, mobile operators, and CPE vendors. It automates the deployment and support of data, voice and video services. Since 1997, Friendly has been providing support automation products to hundreds carriers and xSPs worldwide.
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg6">
					<div class="footer-title">
						About us
					</div>
					<div class="sub-text">
						Friendly’s device management solutions improve subscribers' quality of experience by streamlining the deployment and support of data, VoIP, IPTV & 4G services. 
						Based on the TR-069 and OMA-DM standards, it dramatically reduces support costs while increasing customer satisfaction throughout the entire service lifecycle. 
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg6">
					<nav class="footer-menu">
						<ul>
							<li><a href="#">about</a></li>
							<li><a href="#">solution</a></li>
							<li><a href="#">products</a></li>
							<li><a href="#">site map</a></li>
							<li><a href="#">contact us</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-md-6 col-lg6">
					<div class="images-logo">
						<img src="img/partners-1.jpg" alt="oma">
						<img src="img/partners-2.jpg" alt="iso">
						<img src="img/partners-3.jpg" alt="broadband forum">
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>