@media (max-width: 991px){
	.tablet-hidden {
		display: none;
	}

	.request-buttons {
		text-align: center;
	}

	.breadcrumbs {
		padding-top: 10px;
	}
	
	.footer-menu {
		text-align: center;
	}

	.images-logo {
		text-align: center;
	}
}

@media (max-width: 767px) {
	.navbar-nav {
		display: inline-block;
		top: 0;
		float: none;
	}

	.mobile-hidden {
		display: none;
	}

	.navbar-collapse {
		text-align: center;
	}
}

@media (min-width: 768px) {

	.navbar-nav>li>a {
		padding: 10px 7px;
	}
}

@media (min-width: 992px) {
	.navbar-nav>li>a {
		padding: 10px 15px;
	}
}